In [13]:
import pandas as pd

def classification(data):
    if data['rating'] <= 2:
        return 'Low'
    elif data['rating'] <=4:
        return 'Medium'
    else:
        return 'High'


ratings = pd.read_csv(f'H:/studing/ML/продв. инж. данных/ml-latest-small/ratings.csv')
ratings['class'] = ratings.apply(classification, axis = 1)
ratings.head()

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  Medium
1       1     1029     3.0  1260759179  Medium
2       1     1061     3.0  1260759182  Medium
3       1     1129     2.0  1260759185     Low
4       1     1172     4.0  1260759205  Medium