### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

def classification(data):
    if data['rating'] <= 2:
        return 'Low'
    elif data['rating'] <=4:
        return 'Medium'
    else:
        return 'High'


ratings = pd.read_csv(f'H:/studing/ML/продв. инж. данных/ml-latest-small/ratings.csv')
ratings['class'] = ratings.apply(classification, axis = 1)
ratings.head()

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  Medium
1       1     1029     3.0  1260759179  Medium
2       1     1061     3.0  1260759182  Medium
3       1     1129     2.0  1260759185     Low
4       1     1172     4.0  1260759205  Medium

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [2]:
kv = pd.read_csv(f'H:/studing/ML/продв. инж. данных/ml-latest-small/keywords.csv')
kv.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195