### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

ratings = pd.read_csv(f'H:/studing/ML/продв. инж. данных/pyda_homeworks/Pandas/ratings.csv')
movies = pd.read_csv(f'H:/studing/ML/продв. инж. данных/pyda_homeworks/Pandas/movies.csv')
#оставляем фильмы с оценкой 5
ratings_5 = ratings.query('rating == {}'.format(5.0))
#группируем по фильму, сортируем, выбираем первую запись
ratings_5g = ratings_5.groupby('movieId').count()
ratings_5g.sort_values('userId', ascending=False, inplace = True)
mind = ratings_5g.index[0]
film_name = movies[ (movies['movieId'] == mind) ]
print(film_name['title'])

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [4]:
ratings_5g = ratings_5.groupby('movieId').count()
ratings_5g.reset_index()

      movieId  userId  rating  timestamp
0           1      47      47         47
1           2       7       7          7
2           3       6       6          6
3           5       3       3          3
4           6      24      24         24
...       ...     ...     ...        ...
2949   184245       1       1          1
2950   185135       1       1          1
2951   187593       4       4          4
2952   187595       1       1          1
2953   187717       1       1          1

[2954 rows x 4 columns]

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
power = pd.read_csv(f'H:/studing/ML/продв. инж. данных/10._Основы_pandas/power.csv')

filtered_countryes = power[ (power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia') ]
filtered_categ = filtered_countryes[ (filtered_countryes['category'] == 4) | (filtered_countryes['category'] == 12) | (filtered_countryes['category'] == 21) ]
filtered_year = filtered_categ[ (filtered_categ['year'] >= 2005) | (filtered_categ['year'] <= 2010) ]
filtered_q = filtered_year[ (filtered_year['quantity'] > 0) ]

counter = 0
for i in filtered_q['quantity']:
    counter += i
print(counter)

970728.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [47]:
data = pd.read_html('https://cbr.ru/currency_base/daily/')[0]
data

,Цифр. код,Букв. код,Единиц,Валюта,Курс
0,36,AUD,1,Австралийский доллар,545422
1,944,AZN,1,Азербайджанский манат,458019
2,51,AMD,100,Армянских драмов,161113
3,933,BYN,1,Белорусский рубль,297774
4,975,BGN,1,Болгарский лев,442824
5,986,BRL,1,Бразильский реал,143920
6,348,HUF,100,Венгерских форинтов,243411
7,410,KRW,1000,Вон Республики Корея,642309
8,344,HKD,10,Гонконгских долларов,998414
9,208,DKK,1,Датская крона,116361
10,840,USD,1,Доллар США,778174
11,978,EUR,1,Евро,866419
12,356,INR,10,Индийских рупий,103682
13,398,KZT,100,Казахстанских тенге,178808
14,124,CAD,1,Канадский доллар,609615
15,417,KGS,100,Киргизских сомов,917386
16,156,CNY,1,Китайский юань,122258
17,498,MDL,10,Молдавских леев,433523
18,934,TMT,1,Новый туркменский манат,222654
19,578,NOK,10,Норвежских крон,866554
20,985,PLN,1,Польский злотый,189808
21,946,RON,1,Румынский лей,175087
22,960,XDR,1,СДР (специальные права заимствования),1083249
23,702,SGD,1,Сингапурский доллар,573705
24,972,TJS,10,Таджикских сомони,688954
25,949,TRY,10,Турецких лир,571556
26,860,UZS,10000,Узбекских сумов,719329
27,980,UAH,10,Украинских гривен,269859
28,826,GBP,1,Фунт стерлингов Соединенного королевства,1040808
29,203,CZK,10,Чешских крон,354182
30,752,SEK,10,Шведских крон,825054
31,756,CHF,1,Швейцарский франк,835309
32,710,ZAR,10,Южноафриканских рэндов,502836
33,392,JPY,100,Японских иен,673423